#video-text {
    color: white;
}

/* makes video centered and responsive */
video {
    height: auto !important;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
/*........................................................... General */

@font-face {
    font-family: "Eroded";
    src: url("../fonts/ERODED PERSONAL USE.ttf");
}

@font-face {
    font-family: "PunkTypewriter";
    src: url("../fonts/Punk Typewriter.otf");
}

/* Basic settings for main text font */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

/* Projects default settings for hyper-links */
a {
    color: #FCD900;
    text-decoration: none;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

/* Same as previous except for hover settings */
a:hover {
    color: #FCD900;
}

/*............................................................  Containers */

/* base code from whiskey drop module, altered to fit project */
.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

/* base code from whiskey drop module, altered to fit project */
.callout-container {
    height: auto;
    min-height: 1000px;
    background-image: url('../images/tiny_specks_ep_background.png');
    background-size: cover;
    background-position: 50% 25%;;
    background-repeat: no-repeat;
    background-attachment: local;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.callout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.callout-image {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 150px;   /* or whatever size you want */
  height: auto;
  margin: 10px;   /* optional spacing from the edges */
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* padding added to top and bottom of sections */
.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
    height: 90%;
}

/* basic font settings, positioning and removal of style, margin and padding from list */
.social-footer {
    /* position, bottom, z-index are used to lock the footer */
    position: fixed;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    background: black;
    text-align: center;
    padding: 10px 0;
}

.social-list {
    font-size: 35px;
    font-weight: 400;
    margin: 0px;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* displays list horizontally instead of vertically */
.social-list li {
    display: inline-block;
    margin: 0 10px;
}

/* colors font awesome social icons black */
.fa {
    color: #FCD900;
}

/* background image settings */
.gigs-container {
    background-image: url("../images/band_live.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 750px;
    height: auto;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* base code from whiskey drop module, altered to fit project */
.gig-opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* background image settings for video section */
.video-container {
    background-image: url("../images/space_background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.music-container {
    background-image: url("../images/space_background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.band-container {
    background-image: url("../images/space_background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 700px;
    height: auto;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.contact-container {
    background-image: url("../images/space_background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 500px;
    height: auto;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.youtube-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ensure it takes full width of the assigned columns */
}

.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

.embed-responsive .embed-responsive-item {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 10px;
    width: 100%;
    height: 100%;
    border: 0;
}

/* background color setting */
.gallery-container {
    background-image: url("../images/photo_shoot_brickwall_bw.JPG");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 750px;
    height: auto;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* background color setting */
.social-container {
    background-color: white;
}

.presskit-container {
    background-image: url("../images/Tweedys_4.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 900px;
    height: auto;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*............................................................  Logo */

/* alterations to the bootstrap class img-responsive */
.img-logo {
    margin: 0 auto;
    padding-top: 30px;
    display: block;
    max-width: 100%;
    height: auto;
}

/*............................................................  Navbar Section */

/* alterations made to Bootstraps navbar class for project specific navbar set up */
.navbar {
    margin-bottom: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: black;
    border: 0;
    font-family: "Eroded", monospace;
    font-size: 50px;
    letter-spacing: 3px;
    display: flex;
    justify-content: space-between;
    padding-top: 15px; /* Add padding to the top */
    padding-bottom: 5px; /* Add padding to the top */
}

.navbar-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* removes border from expanded menu button in mobile version of navbar */
.navbar-default .navbar-collapse {
    border-color: black;
    width: 100%;
    /* display: flex;
    justify-content: flex-end; */
}

/* When expand menu button (mobile only) is selected its background colors remain transparent */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:visited,
.navbar-default .navbar-toggle:active,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

/* colors the bars in the expand menu button to white */
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FCD900;
}

/* when a link item is interacted with it remains white */
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    text-decoration: none !important;
    color: #FCD900;
}

/* basic settings for link items */
.navbar-default .navbar-nav > li > a {
    color: #FCD900;
    font-size: 50px;
    /* text-align: center; */
}

/* sets font type for link items in mobile nav */
.navbar a {
    font-family: "Eroded", monospace;
    font-size: 50px;
}

/* alterations made to Bootstrap's navbar-brand class for project-specific navbar setup on mobile */
.navbar-brand {
    font-size: 25px;
    font-family: "PunkTypewritter", monospace;
    position: absolute;
    left: 0;
    padding-left: 15px;
    margin-top: 0;
}

/* Sets background color to transparent */
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

/*............................................................  Jumbotron Section */

/* alterations made to bootstraps jumbotron class */
.jumbotron {
    background-color: transparent;
    margin-bottom: 0;
}

/*............................................................  Block dividers */

/* block divider borrowed from whiskey drop module, sets divider dimensions relies on either black or white versions for color */
.block-divider {
    width: 35px;
    height: 5px;
    border: 0;
}

/*Sets background color */
.block-divider--white {
    background-color: white;
}

/*Sets background color */
.block-divider--black {
    background-color: black;
}

/*........................................................... Section Titles */

/* colors text white */
.page-header .white-title {
    color: white;
}

.white-title {
    color: white !important;
    text-align: center;
}

/* sets font for section titles */
.text-title {
    font-family: "Eroded", sans-serif;
    font-size: 100px;
}

/* basic font settings */
.social-title {
    color: black;
    font-weight: 300;
}

/* ............................................................ Page Headers */

/* extra styles added to bootstrap page-header class */
.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

/* removed margin-top */
.page-header h2 {
    margin-top: 0;
}

/* added 25 px of space at the bottom */
.band .page-header {
    margin-bottom: 15px;
}

.container-wrapper {
    background-color: grey;
}

.gigs .page-header {
    margin-top: 5px;
    margin-bottom: 15px;
}

.music .page-header {
    /* margin-top: 5px; */
    margin-bottom: 15px;
}

.video .page-header {
    margin-top: 5px;
    margin-bottom: 15px;
}

/*............................................................  Section Text */

/* aligns text in center */
.section-text {
    font-size: 14px;
    color: white;
}

.section-text-bio {
    font-size: 18px;
    color: yellow;
}

.section-text p {
    text-align: center;
}

/*............................................................ Band Section */

/* removes border on the left */
blockquote {
    border-left: 0;
}

/* puts 25px of space at the bottom */
.media-body {
    padding-bottom: 15px;
}

/* sets font size */
.media-body p {
    font-size: 14px;
}

.media-left img {
    display: block;
    margin-top: 0; /* Ensures there's no margin at the top */
}

/*............................................................  Gigs Section */

/* sets color of text to white */
.gigs-text {
    color: white;
}

.gigs-table,
.gigs-table td,
.gigs-table th {
    text-align: center;
    color: white;
}

.gigs-table td.upcoming,
.gigs-table th.upcoming {
    color: #FCD900 !important;
    font-weight: bold;
}

/* sets color of text inside table to white */
body table {
    color: white;
}

/* styles sold out! to look like the other live links */
.label {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

/* top line of gigs table positioning */
.table>tbody>tr>td {
    vertical-align: middle;
}

/* Dropdown header styles */
.dropdown-header {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.dropdown-header h4 {
    margin: 0;
}

.dropdown-header .arrow {
    margin-left: 10px;
    transition: transform 0.3s ease;
}

/* Rotate arrow when expanded */
.dropdown-header.expanded .arrow {
    transform: rotate(90deg);
}

/* Initially hide the past table */
#past-table {
    display: none;
}

/*........................................................ Music Section */

/* centers text sets width */
p .section-text {
    color: white;
    font-size: 14px;
    text-align: center;
    width: 30em;
    padding-left: 50%;
    padding-right: 50%;
}

/*......................................................... Gallery Section */

/*For uniform sizing */
.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 5px;
    place-items: center;
    margin-bottom: 5px; /* Adjusted this to match the gap */
    position: relative;
    justify-content: center;
}

.gallery-img {
    width: 1in;
    height: 1in;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.25s, filter 0.75s;
}

.gallery img:hover {
    transform: scale(3);
    transition: transform 0.25s, filter 0.25s;
    z-index: 1;
    position: relative;
}

.gallery:has(img:hover) img:not(:hover) {
    filter: brightness(0.5) contrast(0.5);
}

.gallery a:focus {
    outline: 1px dashed black;
    outline-offset: -5px;
}

.modal-img {
    width: 100%;
}

/*............................................................ Video Section*/

/* colors text white */
#video-text {
    color: white;
}

/* makes video centered and responsive */
video {
    height: auto !important;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* ........................................................ Press Kit Section */
.thumbnail-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns per row */
    gap: 10px;
}

.thumbnail-grid div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.thumbnail-grid p {
    color: white; /* Make the text white */
    text-align: center;
}

.thumbnail-container {
    text-align: center;
}

.thumbnail {
    width: 2in;
    height: 2in;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s;
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.lightbox-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.band-members-row {
  font-size: 14px;
    color: yellow;
}



/*............................................................ Social Footer */

/* basic font settings */
.lead.social-text {
    font-family: "Eroded", sans-serif;
    font-size: 35px;
    color: white;
}

/*......................................................... MEDIA QUERIES */

@media (max-width: 768px) {
    .video-container, .music-container, .band-container, .contact-container {
        background-image: url("../images/space_background1.svg");
    }

    .gigs-container, .gallery-container, .presskit-container {
        background-image: none;
        background-color: #424040;
    }

    /*............................................................  Containers */
    .callout-container {
        background-image: url('../images/tiny_specks_background_media.webp');
        min-height: 500px;
        /* height: 100vh; /* Full viewport height */
        /* width: 100%; /* Full viewport width */
    }

    .container-fluid {
        margin-right: 0;
        padding-right: 0;
        /* margin-top: 25px; */
        width: 100%;
    }

    .band-image {
        display: none !important; /* Hide the image on small screens */
    }

    /*............................................................  Navbar Section */
    .navbar {
        margin-bottom: 0;
        position: fixed;
        padding-top: 5px;
    }

    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: right;
        padding-top: 25px;
    }

    .navbar-nav>li {
        flex: none; /* Reset the flex property */
        width: 100%; /* Make each item full width */
        flex: 1; /* Each item takes equal space */
        text-align: center;
        white-space: nowrap; /* Prevents text from wrapping */
    }

    .navbar {
        background-color: black;
    }

    .navbar-default .navbar-nav>li>a {
        font-size: 25px;
        font-family: "Eroded", monospace;
        color: #FCD900;
        letter-spacing: 3px;
        text-align: right; /* Align dropdown items to the right */
    }

    .navbar-default .navbar-collapse.collapse.in .nav > li > a {
        font-size: 25px; /* Adjust this size as needed */
        text-align: right;
    }

    .navbar-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-right: 15px;
    }
    .navbar-toggle {
        margin-right: 10px; /* Adjust this margin as needed */
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
    }

    .social-footer {
        padding: 5px 0; /* Reduce the padding for small screens */
        position: fixed;
        /* justify-content: center;
        align-items: center; */
    }
    .social-list {
        font-size: 30px; /* Reduce the font size for small screens */
    }
    .social-list li {
        margin: 0 5px; /* Reduce the margin for small screens */
    }
    .lead.social-text {
        font-size: 18px; /* Reduce the font size for small screens */
    }

    /*............................................................  Photos Section */
    .gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 1fr;
        gap: 5px;
        place-items: center;
        margin-bottom: 5px; /* Adjusted this to match the gap */
        position: relative;
        justify-content: center;
    }

    .gallery-img {
        width: 75px; /* Smaller size before hover */
        height: 75px; /* Smaller size before hover */
        object-fit: cover;
        border-radius: 5px;
    }

    .gallery img:hover {
        z-index: 1;
        position: relative;
    }

    /*............................................................  Music Section */
    .spotify-container iframe {
        width: 100%; /* Make the Spotify player take the full width */
        height: 80vh; /* Adjust the height if needed */
    }

    /*............................................................  Presskit Section */
    .thumbnail-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 columns per row */
        gap: 10px;
    }

    .thumbnail {
        width: 1in;
        height: 1in;
    }
}
