/*........................................................... General */

@font-face {

    /* Imports non-google font */
    font-family: "Eroded";
    src: url("../fonts/ERODED PERSONAL USE.ttf");
}

/* Basic settings for main text font */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

/* Projects default settings for hyper-links */

a {

    color: red;
    text-decoration: none;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;

}

/* Same as previous except for hover settings */

a:hover {

    color: red;
}

/*............................................................  Containers */

/* base code from whiskey drop module, altered to fit project*/

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

/* base code from whiskey drop module, altered to fit project*/

.callout-container {
    height: 100vh;
    background-image: url('../images/tiny_specks_pasture_spaceship.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.callout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* padding added to top and bottom of sections*/

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
    height: 90%;

}

/* basic font settings, positioning and removal of style, margin and padding from list */
.social-footer {
    /* position, bottom, z-index are used to lock the footer */
    position: fixed;
    bottom: 0;
    z-index: 1000;
    width: 100%;
    background: black;
    text-align: center;
    padding: 10px 0;

}

.social-list {
    font-size: 35px;
    font-weight: 400;
    margin: 0px;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 10px;
}

/* displays list horizontally instead of vertically */

.social-list li {
    display: inline-block;
    margin: 0 10px;
}

/* colors font awesome social icons black */

.fa {
    color: red;
}

/* background image settings */

.gigs-container {
    background-image: url("../images/band_live.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 75%;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* base code from whiskey drop module, altered to fit project*/

.gig-opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* background image settings for video section */

.video-container {
    background-image: url("../images/space_background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 80%;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.music-container {
    background-image: url("../images/space_background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 95%;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.band-container {
    background-image: url("../images/space_background.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 60%;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.youtube-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ensure it takes full width of the assigned columns */
}

.embed-responsive {
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

.embed-responsive .embed-responsive-item {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
/* background color setting */

.gallery-container {
    background-image: url("../images/photo_shoot_brickwall_bw.JPG");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 75%;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* background color setting */

.social-container {
    background-color: white;
}

.presskit-container {
    background-image: url("../images/Tweedys_4.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/*............................................................  Logo */

/* alterations to the bootstrap class img-responsive*/

.img-logo {
    margin: 0 auto;
    padding-top: 30px;
    display: block;
    max-width: 100%;
    height: auto;
}

/*............................................................  Navbar Section */

/* alterations made to Bootstraps navbar class for project specific navbar set up*/

.navbar {
    margin-bottom: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: black;
    border: 0;
    font-family: "Eroded", monospace;
    font-size: 50px;
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px; /* Add padding to the top */
    padding-bottom: 5px; /* Add padding to the top */
}

/* removes border from expanded menu button in mobile version of navbar */
.navbar-default .navbar-collapse {
    border-color: black;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* When expand menu button (mobile only) is selected its background colors remain transparent */
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:visited,
.navbar-default .navbar-toggle:active,
.navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

/* colors the bars in the expand menu button to white */
.navbar-default .navbar-toggle .icon-bar {
    background-color: red;
}

/* when a link item is interacted with it remains white */
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
    color: red;
}

/* basic settings for link items */
.navbar-default .navbar-nav > li > a {
    color: red;
    font-size: 50px;
    text-align: center;
}

/* sets font type for link items in mobile nav */
.navbar a {
    font-family: "Eroded", monospace;
}

/* alterations made to Bootstrap's navbar-brand class for project-specific navbar setup on mobile */
.navbar-brand {
    font-size: 25px;
    padding-top: 18px;
    font-family: "Eroded", monospace;
}

/* Sets background color to transparent */
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}


/*............................................................  Jumbotron Section */

/* alterations made to bootstraps jumbotron class */

.jumbotron {
    background-color: transparent;
    margin-bottom: 0;
}

/*............................................................  Block dividers */

/* block divider borrowed from whiskey drop module, sets divider dimensions relies on either black or white versions for color */

.block-divider {
    width: 35px;
    height: 5px;
    border: 0;
}

/*Sets background color */

.block-divider--white {
    background-color: white;
}

/*Sets background color */

.block-divider--black {
    background-color: black;
}

/*........................................................... Section Titles */

/* colors text white */

.page-header .white-title {
    color: white;
}

.white-title {
    color: white !important;
    text-align: center;
}
/* sets font for section titles */

.text-title {
    font-family: "Eroded", sans-serif;
    font-size: 100px;
}

/* basic font settings */

.social-title {
    color: black;
    font-weight: 300;
}

/* ............................................................ Page Headers */

/* extra styles added to bootstrap page-header class */

.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

/* removed margin-top */

.page-header h2 {
    margin-top: 0;
}

/* added 25 px of space at the bottom */

.band .page-header {
    margin-bottom: 15px;
}

.container-wrapper {
    background-color: grey;

.gigs .page-header {
    margin-top: 5px;
    margin-bottom: 15px;
}

.music .page-header {
    margin-top: 5px;
    margin-bottom: 15px;
}

.video .page-header {
    margin-top: 5px;
    margin-bottom: 15px;
}

/*............................................................  Section Text */

/* aligns text in center */

.section-text{
    font-size: 14px;
    color:white;
}

.section-text p {
    text-align: center;
}

/*............................................................ Band Section */

/* removes border on the left */

blockquote {
    border-left: 0;
}

/* puts 25px of space at the bottom */

.media-body {
    padding-bottom: 15px;
}

/* sets font size */

.media-body p {
    font-size: 14px;
}

.media-left img {
    display: block;
    margin-top: 0; /* Ensures there's no margin at the top */
}

/*............................................................  Gigs Section */

/* sets color of text to white */

.gigs-text {
    color: white;
}

.gigs-table,
.gigs-table td,
.gigs-table th {
    text-align: center;
    color: white;
}

.gigs-table td.upcoming {
    color: yellow !important;;
    font-weight: bold;
}

/* sets color of text inside table to white */

body table {
    color: white;
}

/* styles sold out! to look like the other live links */


.label {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    color: white;
    text-decoration: none;
    font-size: 14px;
    
    
}

/* top line of gigs table positioning */ 

.table>tbody>tr>td{
    vertical-align: middle;
}

/* ........................................................ Press Kit Section */

.thumbnail-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(1in, 1fr));
    gap: 10px;
}

.thumbnail-grid div {
    text-align: center;
}

.thumbnail-container {
    text-align: center;
}

.thumbnail {
    width: 2in;
    height: 2in;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.3s;
}

.thumbnail:hover {
    transform: scale(5));
    z-index: 1;
}

.lightbox {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.lightbox-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/*........................................................ Music Section */

/* centers text sets width */

p .section-text {
    color: white; 
    font-size: 14px;
    text-align: center;
    width: 30em;
    padding-left: 50%;
    padding-right: 50%;
}

/*......................................................... Gallery Section */

/*For uniform sizing */

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 1fr;
    gap: 15px;
    place-items: center;
    margin-bottom: 15px; /* Adjusted this to match the gap */
    position: relative;
    justify-content: center;
}

.gallery-img {
    width: 1in;
    height: 1in;
    object-fit: cover;
    border-radius: 5px;
    transition: transform 0.25s, filter 0.75s;
}

.gallery img:hover {
    transform: scale(3);
    transition: transform 0.25s, filter 0.25s;
    z-index: 1;
    position: relative;
}

.gallery:has(img:hover) img:not(:hover) {
    filter: brightness(0.5) contrast(0.5);
}

.gallery a:focus {
    outline: 1px dashed black;
    outline-offset: -5px;
}
  

.modal-img {
    width: 100%;
}
/*............................................................ Video Section*/

/* colors text white */

#video-text {
    color: white;
}

/* makes video centered and responsive */

video {
    height: auto !important;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block
}

/*............................................................ Social Footer */

/* basic font settings */

.lead.social-text {
    font-family: "Eroded", sans-serif;
    font-size: 35px;
    color: white;
    text-decoration: underline;
}

/* sets border color */

input .email-box {
    border-color: black;
}

/*......................................................... MEDIA QUERIES */

@media (min-width: 768px) {

    /*............................................................  Containers */
    
    /* base code from whiskey drop module, altered to fit project*/
    
    .callout-container {
        height: 100vh;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        flex-direction: column;
        justify-content: space-between;
    }

    /*............................................................  Logo */
    
    /* controls monkees logo img size */
    
    .img-responsive {
        padding-top: 90px;
    }

    /*............................................................  Navbar Section */
    
    /*Changes navbar display type*/
    
    .navbar {
        margin-top: 10px;
        margin-bottom: 0;
        position: fixed;
        background-color: black;
    }
    
    /*navbar display settings*/
    
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top
    }
    
    /* aligns navbar items in the center */
    
    .navbar .navbar-collapse {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    /* styles navbar items spacing*/
    
    .navbar-nav>li {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
    }
    
    /* removes background color */
    
    .navbar {
        background-color: black;
    }
    
    /* font styles and transition settings for navbar items*/
    
    .navbar-default .navbar-nav>li>a {
        transition: text-decoration 0.5s ease-in-out;
        font-size: 50px;
        font-family: "Eroded", monospace;
        color: red;
        letter-spacing: 3px;
    }
    
    /* when navbar items are interacted with they are underlined */
    
    .navbar-default .navbar-nav>li>a:hover,
    .navbar-default .navbar-nav>li>a:active {
        text-decoration: none;
        font-weight: 900;
    }

    /* .gallery {
        -moz-column-count:    2;
        -webkit-column-count: 2;
        column-count:         2;
       } */


    /*............................................................  Jumbotron Section*/
    
    /* Basic font settings */
    
    .lead.music-text {
        font-style: italic;
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 300;
        font-size: 25px;
        color: white;
        margin: 25px 0;
    }

    /*............................................................  Video Section */
    
    /*sets video width*/
    
    video {
        width: 60%;

    }
}
